html {
    background-color: rgb(12, 12, 12);
}

.header {
    display: flex;
    justify-content: center;
}

#videoBG {
    object-fit: cover;
    z-index: -1;
    width: 100vw;     
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#mySidebar {
    display: flex;
    flex-direction: row;
}

.menubar {
    padding-top: 20px;
    font-size: 20PX;
    background-color: rgba(0, 0, 0, 0.267);
    border-radius: 5px;
}

.menuitem {
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.menuitem:hover {
    color: rgb(247, 172, 33);
}

#avw-logo, #avw-title, #menu {
    display: none;
}
.middle-logo {
    margin-top: -15px;
}
#avw-logo-big {
    padding-left: 15px;
    padding-right: 15px;
}

#title {
    margin-left: 0px;
    margin: 0px;
    font-family: 'Lobster Two', cursive;
    font-size: 80px;
    color: orange;
}

#sub-title {
    font-size: 50px;
    margin: 0px;
    font-family: 'Lobster Two', cursive;
    color: orange;
}

#main-playlist-title {
    color: orange;
    text-align: center;
    font-size: 40px;
}

.youtube-links {
    display: flex;
    justify-content: center;
    gap: 20%;
    text-align: center;
}

#playlist-title {
    color: orange;  
}

.closebtn {
    display: none;
}

#featured-work-title {
    text-align: center;
    color: orange;
    font-size: 40px;
}

.about-me {
    display: flex;
    flex-direction: row;
    padding-left: 8%;
}

.featured-videos {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-columns: auto auto;
    padding-left: 10%;
}

#f-video {
    margin: 10px;
    border: 1px solid silver;
}

.mySlides {
	display: none
}

#slide {
    display: flex;
    align-items: center;
}

.slideshow-container {
	width: 420px;
	position: relative;
    margin-right: 20px;
}

#entrance, #studio-room1 {
    width: 29rem;
    min-height: 40rem;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    width: auto;
	padding: 16px;
	margin-top: -22px;
    font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

#img-buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    width: 100%;
	position: absolute;
	top: 50%;
	color: white;
	font-weight: bold;
	
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}



@media all and (max-width: 890px) {
    #videoBG {
        min-width: 100%; 
        min-height: 100%; 
    }
    #title, #sub-title {
        font-size: 50px;
        padding-right: 17px;
        padding-left: 7px;
    }
    .menuitem {
        font-size: 13px;
        padding-right: 9px;   
    }
}

@media all and (max-width: 600px) {
    .menubar {
        display: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: none;
        background-color: transparent;
    }
    #avw-title {
        display: block;
        width: 50%;
        padding-bottom: 12px;
        font-size: 16px;
        font-family: 'Lobster Two', cursive;
        color: orange;
    }
    #avw-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 55%;
        padding-bottom: 30px;
    }
    #menu {
        margin-top: 6%;
        display: flex;
        padding-bottom: 5px;
        cursor: pointer;
        position:fixed;
    }
    /* The sidebar menu */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(158, 158, 117); 
    overflow-x: hidden; 
    padding-top: 15px; 
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  #mySidebar {
      display: flex;
      flex-direction: column;
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 32px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: orange;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    font-size: 30px;
    margin-left: 90px;
  }
  .openbtn:hover {
    background-color: #444;
  }  
    #adrian-title {
    display: none;
    }
    #title, #sub-title {
    font-size: 30px;
    }
    #videoBG {
    min-width: 100%; 
    min-height: 100%; 
    }
    .middle-logo {
        display: none;
    }

}

@media(min-height: 600px) and (max-height: 1200px) {
    .title-front {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 10%;
        padding-bottom: 450px;
    }
}